@{
    ViewData["Title"] = "Home Page";
}



<div id="term_demo">
  <div>

<!--
<div id="terminalWrapper">
    <div id="terminal">
      <div id="fileBar"><span>root@user:~</span>
      </div>
      <div id="terminalOutput">
        <span id="welcomeMessage">
        
            <br></span>
      </div>
    </div>
  </div>-->